<div class='left-col'><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean libero felis, pharetra vel orci in, molestie pellentesque quam. Cras quis eros eu enim vestibulum malesuada non a leo. Quisque lacus dolor, aliquet et neque eget, condimentum porttitor massa. Etiam id accumsan metus. Suspendisse at dapibus mauris. Cras in odio ultrices, luctus tellus non, lobortis magna. Vivamus gravida sem mi, quis aliquam neque pharetra at. Etiam porta pharetra risus, vitae egestas turpis luctus a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras commodo metus nulla, quis tempus turpis iaculis eget. Donec ultrices tellus ipsum, ac semper ligula eleifend ac. Morbi congue egestas lectus, ac luctus magna lobortis sit amet. Mauris convallis sapien nunc, sit amet aliquam sem sagittis vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend venenatis justo, nec ullamcorper metus sagittis quis. Donec lacinia nunc id massa auctor, et mattis justo feugiat.</p>
</div>

<div class='right-col'>
  <p>
    <img src="images/matildatail.jpg" width="300">
  </p>
</div>


 