date: 2014-07-17

<h1>Open Source</h1>
<p>Write about your experience searching for an OSS project. What was appealing about projects? What made the search difficult? What project(s) are you planning to contribute to, and why?</p>

<p>
  As a part of our internship requirement, we're to spend some time contributing to open source projects.  I used Code Triage and Open Hatch to search for available projects.  I wanted to work on projects that either [1] I felt a strong need to support and/or [2] are built with a language I'm using at my internship so that I can continue to learn and apply that knowledge immediately.
</p>
<p>
  I selected a couple projects that fit into the latter category.  The first is cucumber, a behavior driven development tool.  At my internship, we use cucumber for our automation jobs.  The second open source project is java, which we use for dev work.
</p>
<p>
  What's appealing about 
</p>