date: 2013-11-15

<h1>Behold the power of memoization</h1>
<p>
  While working on the Far Mar project, we learned about <strong>memoization.</strong> Using Ruby and Rspec, we wrote code to get each spec to pass.  We started with 60 or so failures (i.e. a lot of red).  By the end of the week, our specs were glorious green.<br>

  It took nearly 13 seconds to run all of our specs.  Our goal was to get it under 2 seconds.  Enter memoization - <em>our specs ran in 1.2 seconds as a result!</em>  Much faster, right!<br>
</p>

  <h2>all about the memoization:</h2>
  <p>
    "Memoization is an optimization technique used to store the result of expensive (slow) method calls for later re-use. This allows us to avoid repeatedly performing an expensive calculation when the result has already been calculated once." - Bookis Smuin, Ada Developer's Academy Lead Instructor
  </p>
  <p>
    <em>Come back soon for memoization undone...</em>
  </p>
