date: 2013-11-08

<h1>Command / = One fantastic, time-saving shortcut!</h1>
<p>
  In class, I often take notes in my text editor to provide detailed explanations or any key notes from our insructors that weren't included in their slides.  I comment out said notes, references and reminders so that it doesn't affect my code, but before <strong>Command /</strong> came along, I did it line-by-line.  
</p>
<p>
  Try it for yourself.  Highlight the text you want to comment out, then press <strong>Command</strong> and the <strong> / </strong> keys.  Instant magic. Now I have more time for homework.
</p>
